/* Navbar */
.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #a30101; /* Main red color */
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: fixed;
    top: 0;
}
  
#navbar-logo img {
    height: 50px; /* Adjust the height as needed */
    width: auto;  /* Maintain aspect ratio */
}

@media screen and (max-width: 768px) {
    #navbar-logo img {
        height: 40px;  /* Adjust for smaller screens */
    }
}

#navbar-logo {
    text-decoration: none;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    list-style: none;
    transition: all 0.5s ease;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    display: flex;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    padding: 0 1rem;
    color: #fff;
}

.navbar__links:hover {
    color: #ffffff73;
}

.navbar__btn {
    display: flex;
    align-items: center;
}
/* Hamburger Menu */
.navbar__toggle {
    display: none;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    background: none;
}
#navbar__menu {
    display: none;
}

@media screen and (max-width: 968px) {
    .navbar__toggle {
        display: block;
    }

    .navbar__menu {
        flex-direction: column;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100% - 80px);
        background: #a30101;
        overflow-y: auto;
    }


    .navbar__menu.active {
        left: 0;
    }

    .navbar__item {
        width: 100%;
        text-align: center;
    }
}
/* Style the button in the header */
.navbar__btn a {
    display: inline-block;
    padding: 10px 20px; /* Proper spacing for a rectangle */
    border-radius: 5px; /* Slight rounding */
    text-align: center;
    background-color: #fff; /* Button background color */
    color: #a30101;
    text-decoration: none;
    margin-left: 15px; /* Space away from hamburger icon */
}

.navbar__toggle {
    margin-right: 15px; /* Space between the button and hamburger */
}

/* Adjust button and spacing on mobile */
@media screen and (max-width: 768px) {
    .navbar__btn a {
        padding: 8px 15px; /* Smaller padding for mobile */
        font-size: 0.9rem; /* Adjust font size */
    }
    .navbar__toggle {
        margin-right: 10px; /* Reduce space on smaller screens */
    }
}
